<template name="newProjModal">
	<div id="newProjModal" class="ui small modal">
	  	<div class="header">
			Add Project
		</div>
		<div class="content">
			<div class="ui form">
	    <div class="field">
	      <label>Project Name</label>
	      <input id="newProjName" type="text" placeholder="Cool project">
		</div>
		<div class="ui error message"></div>
		</div>
	</div>

	<div class="actions">
	    <div  id="saveProj" class="ui approve button">Save Project</div>
	    <div class="ui cancel button">Cancel</div>
	</div>

	</div>
</template>
