<template name="manageContainers">
<div class="ui grid container" >
<div class="fourteen wide column">
<h1 class="ui header">Manage Containers</h1>
{{#if Template.subscriptionsReady}}

<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Used By</th>
      <th>Running</th>
      <th>Exists</th>
      <th>IP</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {{#each allContainers}}
  	{{> containerTableRow id=_id containerId=containerId restarting=restarting config=config details=details up=up plugin=plugin }}
  {{/each}}
  </tbody>
</table>

{{else}}

{{/if}}

</div>	
</div>
</template>

<template name="containerTableRow">
	 <tr>
      <td>{{config.name}}</td>
       <td>{{plugin}}</td>
       <td>{{#if up}} <i class="green large check circle outline icon"></i>  {{else}} {{#if restarting}} <i class="blue wait icon"></i> {{else}} <i class="red large remove circle outline icon"></i> {{/if}}  {{/if}}</td>
       <td>{{#if containerId}} <i class="green large check circle outline icon"></i>  {{else}} <i class="red large remove circle outline icon"></i>  {{/if}}</td>
       <td>{{#if details.IP}} {{details.IP}} {{else}} <i class="orange large remove circle outline icon"></i> {{/if}}</td>
      <td>
      	<div class="ui left pointing compact dropdown icon button">
  			<i class="settings icon"></i>
  			<div class="menu">
  			   <div data-id="{{id}}" class="item confCont"><div class="ui yellow empty circular label"></div>Configure</div>
  			    <div data-id="{{id}}" class="item {{#if up}} disabled {{/if}} {{#if exists id }} disabled {{/if}} createCont"><div class="ui green empty circular label"></div>Create</div>
    		 <div class="divider"></div>
    			<div data-id="{{id}}" class="item {{#unless up }} disabled {{/unless}} restartCont"><div class="ui blue empty circular label"></div>Restart</div>
    			<div data-id="{{id}}" class="item {{#unless dependancyRunning id }} disabled {{/unless}} {{#if up }} disabled {{/if}} {{#unless exists id }} disabled {{/unless}} startCont"><div class="ui green empty circular label"></div>Start</div>
          <div class="divider"></div>
          <div data-id="{{id}}" class="item {{#unless up }} disabled {{/unless}} stopCont"><div class="ui orange empty circular label"></div>Stop</div>
           <div data-id="{{id}}" class="item {{#if up}} disabled {{/if}} removeCont"><div class="ui red empty circular label"></div>Remove</div>
  			</div>
		</div>
	  </td>
    </tr>
</template>